* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3a5a40;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 24px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #bc4749;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

#Reset {
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: bisque;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#new{
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: bisque;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
#msg{
    color: aliceblue;
    
}
.massage-container{
 height: 20vh;
}
.hide{
    display: none;
}
